<footer class="text-center text-secondary border-top" style="background-color: #f1f1f1;">
  <!-- Copyright -->
  <div class="text-center text-secondary p-3" style="background-color: rgb(255, 255, 255);">
    © 2021 Copyright:
    <a class="text-secondary" href="#">{{ name }}</a>
  </div>
  <!-- Copyright -->
</footer>